

<div class="container">
    
    <div class="col-md-6 col-md-offset-3">

        <h2>
            Tutorial Angular 2 of 3
        </h2>
        
        <form role="form" 
              name="itemForm" 
              accept-charset="UTF-8" 
              autocomplete="off" 
              ng-submit="itemForm.$valid && addItem( )" 
              novalidate
        >

            <div class="form-group">

                <label for="name">
                    Name
                </label>

                <div role="alert">
                  <span class="error" ng-show="itemForm.name.$dirty && itemForm.name.$error.required">
                    Required!
                  </span>
                  <span class="error" ng-show="itemForm.name.$dirty && itemForm.name.$error.maxlength">
                    Max Length!
                  </span>
                  <span class="error" ng-show="itemForm.name.$dirty && itemForm.name.$invalid">
                    This field is invalid
                  </span>
                </div>

                <input id="name" 
                  name="name" 
                  placeholder="Name"  
                	autofocus="autofocus" 
                  autocomplete="off" 
                  class="form-control input-lg" 
                  ng-model="item.name" 
                  ng-minlength="4" 
                  ng-maxlength="65" 
                  required
                />
                <slug from="item.name" to="item.slug"></slug><!--create slug name-->

            </div>

            <div class="form-group">

                <label for="sku">
                    Sku
                </label>

                <div role="alert">
                  <span class="error" ng-show="itemForm.sku.$dirty && itemForm.sku.$error.maxlength">
                    Max Length!
                  </span>
                </div>

                <input id="sku" 
                       name="sku" 
                       placeholder="Sku"  
                       autocomplete="off" 
                       class="form-control input-lg" 
                       ng-model="item.sku" 
                       ng-maxlength="8" 
                />
                <slug from="item.name" to="item.slug"></slug><!--create slug name-->

            </div>

            <div class="form-group">

                <label for="price">
                    Price
                </label>

                <div role="alert">
                  <span class="error" ng-show="itemForm.price.$dirty && itemForm.price.$error.number">
                    Not valid number
                  </span>
                </div>

                <input type="number" 
                       id="price" 
                       name="price" 
                       placeholder="10.23"  
                       autocomplete="off" 
                       class="form-control input-lg" 
                       ng-model="item.price" 
                       ng-maxlength="8" 
                       required
                />

            </div>

            <div class="form-group">

                <label for="cost">
                    Cost
                </label>

                <div role="alert">
                  <span class="error" ng-show="itemForm.cost.$dirty && itemForm.cost.$error.number">
                    Not valid number
                  </span>
                </div>

                <input type="number" 
                       id="cost" 
                       name="cost" 
                       placeholder="9.23"  
                       autocomplete="off" 
                       class="form-control input-lg" 
                       ng-model="item.cost" 
                       ng-maxlength="8" 
                       required
                />

            </div>

            <div class="form-group">

                <label for="description">
                    Description
                </label>

                <div role="alert">
                  <span class="error" ng-show="itemForm.description.$dirty && itemForm.description.$error.required">
                    Required!
                  </span>
                  <span class="error" ng-show="itemForm.description.$dirty && itemForm.description.$error.maxlength">
                    Max Length!
                  </span>
                </div>

                <textarea class="form-control" rows="3"
                  id="description" 
                  name="description" 
                  placeholder="Description" 
                  ng-model="item.description" 
                  ng-minlength="4" 
                  ng-maxlength="500" 
                  required
                >       
                </textarea>

            </div>        

            <div class="checkbox">
              <label>
                <input type="checkbox" id="active" name="active" ng-model="item.active" checked>
                <strong>Active</strong>
              </label>
            </div>    
                     
            <button type="submit"  class="btn btn-lg btn-white btn-block">
              Create Item
            </button>

            <!--
            <hr>
            <pre>item = {{item |json }}</pre>

            <pre>
              itemForm is: {{ itemForm.$valid }}
            </pre>

            <tt>itemForm.name.$valid = {{itemForm.name.$valid}}</tt><br/>
            <tt>itemForm.name.$error = {{itemForm.name.$error}}</tt><br/>
            <tt>itemForm.description.$valid = {{itemForm.description.$valid}}</tt><br/>
            <tt>itemForm.description.$error = {{itemForm.description.$error}}</tt><br/>

            <tt>itemForm.$valid = {{itemForm.$valid}}</tt><br/>
            <tt>itemForm.$error.required = {{!!itemForm.$error.required}}</tt><br/>
            <tt>itemForm.$error.minlength = {{!!itemForm.$error.minlength}}</tt><br/>
            <tt>itemForm.$error.maxlength = {{!!itemForm.$error.maxlength}}</tt><br/>
            -->
            
        </form>

    </div>

</div>

