
<link data-lift="head" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" type="text/css" />
<link data-lift="head" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.0/bootstrap-social.min.css" type="text/css" />

<div id="contenido">

	<div class="container-fluid">

		<div class="col-md-6">
			<div class="panel panel-default">

				<div class="panel-body">

					<h1>
						<div id="name"></div> <small>@santo</small>
					</h1>					

					<h3>
						<strong>
							$ <div id="price"></div> <small>MXN</small>
						</strong>
					</h3>

					<dl>

						<dt>
							<strong>
								Descripcion
							</strong>
						</dt>

						<dd>
							<p id="description">
								89 hands-on recipes to help you complete real-world data science projects in R and Python
							</p>
						</dd>

						<dt>
							<strong>
								Quantity
							</strong>
						</dt>

						<dd>
							<select class="form-control input-lg">
								<option>1</option>
							  	<option>2</option>
							  	<option>3</option>
							  	<option>4</option>
							  	<option>5</option>
							</select>
						</dd>

					</dl>

					<a href="#" id="morepics" type="button" class="btn btn-default btn-lg btn-block">
						<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> More Pics
					</a>

					<button id="askAQuestion" type="button" class="btn btn-default btn-lg btn-block">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ask a Question
					</button>

					<button id="addToCart" type="button" class="btn btn-default btn-lg btn-block">
						<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to cart
					</button>

				</div>

				<div class="panel-footer">

					<span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share: 
			
					<!--start:bootstrap social-->
					<a class="btn btn-social-icon btn-lg btn-twitter">
    					<i class="fa fa-twitter"></i>
  					</a>
					<a class="btn btn-social-icon btn-lg btn-pinterest">
    					<i class="fa fa-pinterest"></i>
  					</a>
					<a class="btn btn-social-icon btn-lg btn-facebook">
    					<i class="fa fa-facebook"></i>
  					</a>
					<a class="btn btn-social-icon btn-lg btn-google-plus">
    					<i class="fa fa-google-plus"></i>
  					</a>
					<a class="btn btn-social-icon btn-lg btn-tumblr">
    					<i class="fa fa-tumblr"></i>
  					</a>					
					<!--end:bootstrap social-->

				</div>

			</div>
		</div>


		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">

					<center>
						<!-- Button trigger modal -->
						<div id="modal" href="#" data-toggle="modal" data-target="#images">
							<img src="/assets/images/scala.jpg" class="img-responsive" alt="Responsive images">
						</div>
					</center>

				</div>	

			</div>
		</div>	

	</div>

</div>
