
<div class="container-fluid">

	<div class="row">

		<div ng-repeat="item in itemList[0]">

			<div class="col-md-12">

	  			<div class="col-md-4" >

					<div class="panel panel-default">

					  	<div class="panel-body">

					  		<a href="#/catalog/santo/item/{{item.slug}}">
					  			<img src="/assets/images/scala.jpg" class="img-responsive" alt="Responsive image">
					  		</a>

					    	<h4>
					    		<span ng-bind="item.name"></span>
					    	</h4>

							<a href="" type="button" class="btn btn-link">
								$<span id="price"></span> MXN
							</a>

							<div class="pull-right">
	              				In Stock
	            			</div>

							<button id="addToCart" type="button" class="btn btn-default btn-lg btn-block">
								<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
								</span> Add to cart
							</button>

					  	</div>

					  	<div class="panel-footer text-right">

							<span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share: 

					  		<a href="#" class="btn btn-social-icon btn-facebook">
					  			<i class="fa fa-facebook" id="facebook"></i>
					  		</a>
					  		<a href="#" class="btn btn-social-icon btn-google-plus">
					  			<i class="fa fa-google-plus" id="google-plus"></i>
					  		</a>
					  		<a href="#" class="btn btn-social-icon btn-pinterest">
					  			<i class="fa fa-pinterest" id="pinterest"></i></a>
					  		</a>
					  		<a href="#" class="btn btn-social-icon btn-twitter">
					  			<i class="fa fa-twitter" id="twitter"></i></a>
					  		</a>
					  	</div>

					</div>

	  			</div>

			</div>

		</div>	

	</div>

</div>
